<a href="https://colab.research.google.com/github/NightcoreRagod/Challenge-Project/blob/main/Myntra%20Fasion%20Clothing%20research.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
dataset = pd.read_csv('myn.csv')

<ipython-input-4-d5f81cf1a733>:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('myn.csv')

In [10]:
x = dataset.drop(columns=["Individual_category"])

In [11]:
y = dataset["Individual_category"]

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [13]:
import tensorflow as tf

model = tf.keras.models.Sequential()

In [14]:
model.add(tf.keras.layers.Dense(256, input_shape=x_train.shape[1:], activation='sigmoid'))
model.add(tf.keras.layers.Dense(256, activation='sigmoid'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [15]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [20]:
from sklearn.preprocessing import OrdinalEncoder

In [22]:
encoder = OrdinalEncoder()

In [23]:
dataset[["Individual_category"]] = encoder.fit_transform(dataset[["Individual_category"]])

print(dataset)

                                                      URL  Product_id  \
0       https://www.myntra.com/jeans/roadster/roadster...     2296012
1       https://www.myntra.com/track-pants/locomotive/...    13780156
2       https://www.myntra.com/shirts/roadster/roadste...    11895958
3       https://www.myntra.com/shapewear/zivame/zivame...     4335679
4       https://www.myntra.com/tshirts/roadster/roadst...    11690882
...                                                   ...         ...
526559  https://www.myntra.com/sweaters/hm/hm-women-be...    16929990
526560  https://www.myntra.com/jackets/hm/hm-women-bla...    16026012
526561  https://www.myntra.com/dresses/250-designs/250...    17654114
526562  https://www.myntra.com/dresses/masaba/masaba-w...    12508700
526563  https://www.myntra.com/tshirts/jockey/jockey-w...    17856544

          BrandName               Category  Individual_category  \
0          Roadster            Bottom Wear                 30.0
1        LOCOMOTIVE            Bottom Wear                 85.0
2          Roadster                Topwear                 65.0
3            Zivame  Lingerie & Sleep Wear                 62.0
4          Roadster                Western                 89.0
...             ...                    ...                  ...
526559          H&M                Western                 76.0
526560          H&M                Western                 29.0
526561  250 DESIGNS                Western                 18.0
526562       Masaba                Western                 18.0
526563       Jockey                Western                 89.0

       category_by_Gender                                        Description  \
0                     Men  roadster men navy blue slim fit mid rise clean...
1                     Men  locomotive men black  white solid slim fit tra...
2                     Men  roadster men navy white  black geometric print...
3                   Women  zivame women black saree shapewear zi3023core0...
4                   Women  roadster women white solid v neck pure cotton ...
...                   ...                                                ...
526559              Women           hm women beige oversized cashmere jumper
526560              Women        hm women black water repellent parka jacket
526561              Women                 250 designs blue lace sheath dress
526562              Women           masaba women yellow printed a line dress
526563              Women         jockey women blue extended sleeves t shirt

        DiscountPrice (in Rs)  OriginalPrice (in Rs) DiscountOffer  \
0                       824.0                 1499.0       45% OFF
1                       517.0                 1149.0       55% OFF
2                       629.0                 1399.0       55% OFF
3                       893.0                 1295.0       31% OFF
4                         NaN                  599.0       35% OFF
...                       ...                    ...           ...
526559                    NaN                 9999.0           NaN
526560                    NaN                 9999.0           NaN
526561                    NaN                 9999.0           NaN
526562                    NaN                 9999.0           NaN
526563                    NaN                  799.0           NaN

                    SizeOption  Ratings  Reviews
0           28, 30, 32, 34, 36      3.9    999.0
1                  S, M, L, XL      4.0    999.0
2       38, 40, 42, 44, 46, 48      4.3    999.0
3             S, M, L, XL, XXL      4.2    999.0
4              XS, S, M, L, XL      4.2    999.0
...                        ...      ...      ...
526559             XS, S, M, L      NaN      NaN
526560         XS, S, M, L, XL      NaN      NaN
526561        S, M, L, XL, XXL      NaN      NaN
526562         XS, S, M, L, XL      NaN      NaN
526563                 S, M, L      NaN      NaN

[526564 rows x 13 columns]